<form role='form'>
					<script type='text/javascript'>
						$(function () {
							$('#dt1').datetimepicker({format: 'YYYY-MM-DD'});
						});
						$('#clear').click(function(){
							$('#dt1').data('DateTimePicker').clear();
						});
					</script>
	<div class='container-fluid'  style='padding: 0px;'>
		<div class='row'>
			<div class='col-sm-2'  style='padding: 15px; background-color: #edd400; min-height: 36px; max-height: 36px; padding-top: 5px; border-bottom: 1px solid #edd400'>
				<span class='header1 col-sm-12' class='col-sm-12'>Material types</span>
			</div>
			<div class='col-sm-10'  style='padding: 15px;  min-height: 36px; max-height: 36px; padding-top: 5px; border-bottom: 1px solid lightgray'>
			</div>
		</div>
		<div class='row'  style='background-color: #ffffff; padding-top: 15px; min-height: 600px;'>
			<div class='col-sm-1'>
			</div>
			<div class='col-sm-10'>
				<div class='row'  style='padding-bottom: 5px;'>
					<div class='col-sm-3'>
						<div class='input-group'>
							<input type='text' class='form-control' placeholder='Enter search text' ng-model='search'>
							<div class='input-group-btn'>
								<button class='btn btn-success btn-sm searchBox' type='submit'>
									<i class='glyphicon glyphicon-search'></i>
								</button>
							</div>
						</div>
					</div>
					<span class='header2 col-sm-6' class='col-sm-6'>{{inv_mat_types_status}}</span>
					<div class='col-sm-3' style='text-align: right'>
						<div class='btn-group'>
							<a  class='btn btn-default btn-sm'  href='#'  ng-click='insert_inv_mat_types_record()' data-target='#matTypeDlg' data-toggle='modal'>
								<span class='glyphicon glyphicon-plus'></span> Add
							</a>
							<button  class='btn btn-default btn-sm'>
								<span class='glyphicon glyphicon-refresh'></span> Refresh
							</button>
						</div>
					</div>
				</div>
					<div class='row'>
						<div class='col-sm-12'>
							<table class='table table-bordered table-condensed table-bordered'>
								<thead>
									<tr>
										<th >Material code</th>
										<th>Transaction #</th>
										<th>Material name</th>
										<th>Description</th>
										<th>Material category</th>
										<th>Status</th>
										<th ></th>
									</tr>
								</thead>
								<tbody>
									<tr dir-paginate='x in inv_mat_typesList| filter: search| itemsPerPage: 12'>
										<td><a  href='#'  ng-click='update_inv_mat_types_record(x)' ng-model='inv_mat_types.mat_code' data-target='#matTypeDlg' data-toggle='modal'> {{x.mat_code}}</a></td>
										<td>{{x.sysid}}</td>
										<td>{{x.mat_name}}</td>
										<td>{{x.mat_descr}}</td>
										<td>{{x.mat_cat}}</td>
										<td>{{x.status}}</td>
										<td><a  style='color: #ef2929'  href='#'  ng-click='delete_inv_mat_types_record(x.sysid)'><span class='glyphicon glyphicon-trash'></span> Delete</a></td>
									</tr>
								</tbody>
							</table>
							<dir-pagination-controls max-size='10' direction-links='true' boundray-links='true'>
							</dir-pagination-controls>
						</div>
					</div>
			</div>
			<div class='col-sm-1'>
			</div>
		</div>
		<div class='modal fade'  id='matTypeDlg' role='dialog'>
			<div class='modal-dialog' style='min-height: 700px; ; min-width: 700px; '>
				<div class='modal-content'>
					<div class='modal-header'>
						<div class='row'>
							<span class='header1 col-sm-12' class='col-sm-12'>Material types</span>
						</div>
					</div>
					<div class='modal-body'>
						<div class='row'>
							<label class='col-sm-3'>Material code</label>
							<div class='col-sm-9'>
								<input class='form-control'  type='text' ng-model='inv_mat_types.mat_code'>
							</div>
							<label class='col-sm-3'>Material name</label>
							<div class='col-sm-9'>
								<input class='form-control'  type='text' ng-model='inv_mat_types.mat_name'>
							</div>
							<label class='col-sm-3'>Description</label>
							<div class='col-sm-9'>
								<textarea class='form-control' ng-model='inv_mat_types.mat_descr' rows='5'></textarea>
							</div>
							<label class='col-sm-3'>Material category</label>
							<div class='col-sm-9'>
								<select class='form-control' ng-model='inv_mat_types.mat_cat' ng-init='inv_mat_types.mat_cat=matCatList[0]' ng-options='x as x for x in matCatList'></select>
							</div>
							<label class='col-sm-3'>Status</label>
							<div class='col-sm-9'>
								<select class='form-control' ng-model='inv_mat_types.status' ng-init='inv_mat_types.status=statusList[0]' ng-options='x as x for x in statusList'></select>
							</div>
						</div>
					</div>
					<div class='footer'>
						<div class='row'  style='padding: 10px'>
							<span class='col-sm col-sm-9' class='col-sm-9'>{{inv_mat_types_status}}</span>
							<div class='col-sm-3' style='text-align: right'>
								<div class='btn-group'>
									<button  class='btn btn-default btn-sm'  ng-click='save_inv_mat_types_record()'>
										<span class='glyphicon glyphicon-saved'></span> Save
									</button>
									<button  class='btn btn-default btn-sm' data-dismiss='modal'>
										<span class='glyphicon glyphicon-remove'></span> Close
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>