<form role='form'>
				<script type='text/javascript'>
					$(function () {
						$('#dt1').datetimepicker({format: 'YYYY-MM-DD'});
						$('#dt2').datetimepicker({format: 'YYYY-MM-DD'});
					});
					$('#clear').click(function(){
						$('#dt1').data('DateTimePicker').clear();
						$('#dt2').data('DateTimePicker').clear();
					});
				</script>
	<div class='container-fluid'  style='padding: 0px;'>
		<div class='row'  style='background-color: #ffffff; min-height: 600px;'>
			<div class='col-sm-2'>
				<div ng-controller='leaves_menuCtrl' ng-include src="'modules/hrms/leaves_menu/leaves_menu.html'"></div>
			</div>
		<div class='col-sm-10'>
			<div class='row'  style='padding-top: 20px'>
				<span class='header1 col-sm-2' class='col-sm-2'>Leave type</span>
				<div class='col-sm-3'>
					<div class='input-group'>
						<input type='text' class='form-control' placeholder='Enter search text' ng-model='search'>
						<div class='input-group-btn'>
							<button class='btn btn-success btn-sm searchBox' type='submit'>
								<i class='glyphicon glyphicon-search'></i>
							</button>
						</div>
					</div>
				</div>
				<span class='header2 col-sm-4' class='col-sm-4'></span>
				<div class='col-sm-3' style='text-align: right'>
					<div class='btn-group'>
						<a  class='btn btn-default btn-sm'  href='#'  ng-click='insert_hrms_leave_type_record()' data-target='#ltDlg' data-toggle='modal'>
							<span class='glyphicon glyphicon-plus'></span> Add
						</a>
						<button  class='btn btn-default btn-sm'>
							<span class='glyphicon glyphicon-upload'></span> Upload
						</button>
						<button  class='btn btn-default btn-sm'>
							<span class='glyphicon glyphicon-download'></span> Download
						</button>
					</div>
				</div>
					<div class='col-sm-12'>
						<table class='table table-bordered table-condensed table-bordered'>
							<thead>
								<tr>
									<th >Name</th>
									<th>Short code</th>
									<th>Total leaves per year</th>
									<th>Applicable from</th>
									<th>Applicable to</th>
									<th>Carry forward</th>
									<th>Encashable</th>
									<th>Status</th>
									<th >Header</th>
								</tr>
							</thead>
							<tbody>
								<tr dir-paginate='x in hrms_leave_typeList| filter: search| itemsPerPage: 12'>
									<td><a  href='#'  ng-click='update_hrms_leave_type_record(x)' ng-model='hrms_leave_type.leave_type' data-target='#ltDlg' data-toggle='modal'> {{x.leave_type}}</a></td>
									<td>{{x.short_code}}</td>
									<td>{{x.total_leaves_per_year}}</td>
									<td>{{x.applicable_from}}</td>
									<td>{{x.applicable_to}}</td>
									<td>{{x.carry_forward}}</td>
									<td>{{x.encashable}}</td>
									<td>{{x.status}}</td>
									<td><a  style='color:red;'  href='#'  ng-click='delete_hrms_leave_type_record(x.sysid)'><span class='glyphicon glyphicon-trash'></span> Delete</a></td>
								</tr>
							</tbody>
						</table>
						<dir-pagination-controls max-size='10' direction-links='true' boundray-links='true'>
						</dir-pagination-controls>
					</div>
			</div>
		</div>
		</div>
	<div class='modal fade'  id='ltDlg' role='dialog'>
		<div class='modal-dialog' style='height: 700px; ; width: 1000px; '>
			<div class='modal-content'>
				<div class='modal-header'>
					<div class='row'>
						<span class='header1 col-sm-12' class='col-sm-12'>Leave type</span>
					</div>
				</div>
				<div class='modal-body'>
					<div class='row'>
						<div class='col-sm-6'>
							<div class='row'>
								<label class='col-sm-5'>Name</label>
								<div class='col-sm-7'>
									<input class='form-control'  type='text' ng-model='hrms_leave_type.leave_type'>
								</div>
								<label class='col-sm-5'>Short code</label>
								<div class='col-sm-7'>
									<input class='form-control'  type='text' ng-model='hrms_leave_type.short_code'>
								</div>
								<label class='col-sm-5'>Total leaves per year</label>
								<div class='col-sm-7'>
									<input class='form-control'  type='text' ng-model='hrms_leave_type.total_leaves_per_year'>
								</div>
								<label class='col-sm-5'>Applicable from</label>
								<div class='col-sm-7'>
									<div datetimepicker class='input-group date'  id='dt1' ng-model='hrms_leave_type.applicable_from'>
										<input type='text' class='form-control datepicker' placeholder='YYYY-MM-DD'>
										<span class='input-group-addon'>
											<span class='glyphicon glyphicon-calendar'></span>
										</span>
									</div>
								</div>
								<label class='col-sm-5'>Applicable to</label>
								<div class='col-sm-7'>
									<div datetimepicker class='input-group date'  id='dt2' ng-model='hrms_leave_type.applicable_to'>
										<input type='text' class='form-control datepicker' placeholder='YYYY-MM-DD'>
										<span class='input-group-addon'>
											<span class='glyphicon glyphicon-calendar'></span>
										</span>
									</div>
								</div>
								<label class='col-sm-5'>Carry forward</label>
								<div class='col-sm-7'>
									<select class='form-control' ng-model='hrms_leave_type.carry_forward' ng-init='hrms_leave_type.carry_forward=carryFwdList[0]' ng-options='x as x for x in carryFwdList'></select>
								</div>
							</div>
						</div>
						<div class='col-sm-6'>
							<div class='row'>
								<label class='col-sm-5'>Carry forward qty</label>
								<div class='col-sm-7'>
									<input class='form-control'  type='text' ng-model='hrms_leave_type.carry_fwd_qty'>
								</div>
								<label class='col-sm-5'>Encashable</label>
								<div class='col-sm-7'>
									<select class='form-control' ng-model='hrms_leave_type.encashable' ng-init='hrms_leave_type.encashable=encashList[0]' ng-options='x as x for x in encashList'></select>
								</div>
								<label class='col-sm-5'>Encash rate on</label>
								<div class='col-sm-7'>
									<select class='form-control' ng-model='hrms_leave_type.encash_rate_on' ng-init='hrms_leave_type.encash_rate_on=encashrateList[0]' ng-options='x as x for x in encashrateList'></select>
								</div>
								<label class='col-sm-5'>Encash rate</label>
								<div class='col-sm-7'>
									<input class='form-control'  type='text' ng-model='hrms_leave_type.encash_rate'>
								</div>
								<label class='col-sm-5'>Unit name</label>
								<div class='col-sm-7'>
									<select class='form-control' ng-model='hrms_leave_type.company_id' ng-init='hrms_leave_type.company_id=admin_company[0].sysid' ng-options='x.sysid as x.company_name for x in admin_companyList'></select>
								</div>
								<label class='col-sm-5'>Status</label>
								<div class='col-sm-7'>
									<select class='form-control' ng-model='hrms_leave_type.status' ng-init='hrms_leave_type.status=statusList[0]' ng-options='x as x for x in statusList'></select>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class='footer'>
					<div class='row'  style='padding: 10px;'>
						<span class='header2 col-sm-7' class='col-sm-7'>{{hrms_leave_type_status}}</span>
						<div class='col-sm-5' style='text-align: right'>
							<div class='btn-group'>
								<button  class='btn btn-default btn-sm'  ng-click='save_hrms_leave_type_record()'>
									<span class='glyphicon glyphicon-saved'></span> Save
								</button>
								<button  class='btn btn-default btn-sm' data-dismiss='modal'>
									<span class='glyphicon glyphicon-remove'></span> Close
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</form>