<form role='form'>
					<script type='text/javascript'>
						$(function () {
							$('#dt1').datetimepicker({format: 'YYYY-MM-DD'});
							$('#dt2').datetimepicker({format: 'YYYY-MM-DD'});
							$('#dt3').datetimepicker({format: 'YYYY-MM-DD'});
						});
						$('#clear').click(function(){
							$('#dt1').data('DateTimePicker').clear();
							$('#dt2').data('DateTimePicker').clear();
							$('#dt3').data('DateTimePicker').clear();
						});
							$('#dt1').click(function(){
								var sysdate = new Date();
								$('#dt1').data('DateTimePicker').date(sysdate);
							})
							$('#dt2').click(function(){
								var sysdate = new Date();
								$('#dt2').data('DateTimePicker').date(sysdate);
							})
							$('#dt3').click(function(){
								var sysdate = new Date();
								$('#dt3').data('DateTimePicker').date(sysdate);
							})
					</script>
	<div class='container-fluid'  style='padding: 0px;'>
		<div class='row'  style='background-color: #ffffff; padding-top: 10px;'>
			<div class='col-sm-1'>
			</div>
			<div class='col-sm-10'>
				<div class='row'  style='padding-top: 20px'>
					<span class='header-title col-sm-2' class='col-sm-2'>DBK updates</span>
					<label class='col-sm-1'>From date</label>
					<div class='col-sm-2'>
						<div datetimepicker class='input-group date'  id='dt1' ng-model='date_range.from_date'>
							<input type='text' class='form-control datepicker' placeholder='YYYY-MM-DD'>
							<span class='input-group-addon'>
								<span class='glyphicon glyphicon-calendar'></span>
							</span>
						</div>
					</div>
					<label class='col-sm-1'>To date</label>
					<div class='col-sm-2'>
						<div datetimepicker class='input-group date'  id='dt2' ng-model='date_range.to_date'>
							<input type='text' class='form-control datepicker' placeholder='YYYY-MM-DD'>
							<span class='input-group-addon'>
								<span class='glyphicon glyphicon-calendar'></span>
							</span>
						</div>
					</div>
					<div class='col-sm-4' style='text-align: right'>
						<div class='btn-group'>
							<a  class='btn btn-default btn-sm'  href='#'  ng-click='select_sales_invoice_record()'>
								<span class='glyphicon glyphicon-cog'></span> Generate
							</a>
							<a  class='btn btn-default btn-sm'  href='./data/DBK_REPORT.xlsx' target='_self' download='DBK_REPORT.xlsx'>
								<span class='glyphicon glyphicon-download'></span> Download
							</a>
						</div>
					</div>
				</div>
					<div class='row'>
						<div class='col-sm-12'>
							<table class='table table-bordered table-condensed table-bordered'  style='padding-top: 5px'>
								<thead>
									<tr>
										<th >Inv no</th>
										<th>Invoice date</th>
										<th>Currency</th>
										<th>Exchange rate</th>
										<th>INR (Value)</th>
										<th>Shipping value</th>
										<th>Shipping date</th>
										<th>Port code (Indian)</th>
										<th>DBK amount</th>
										<th>DBK date</th>
									</tr>
								</thead>
								<tbody>
									<tr dir-paginate='x in sales_invoiceList| filter: search| itemsPerPage: 12'>
										<td><a  href='#'  ng-click='update_sales_invoice_record(x)' ng-model='sales_invoice.inv_no' data-target='#invDlg' data-toggle='modal'> {{x.inv_no}}</a></td>
										<td>{{x.inv_date}}</td>
										<td>{{x.curr_name}}</td>
										<td>{{x.exchange_rate}}</td>
										<td>{{x.inr_final_amount}}</td>
										<td>{{x.final_total_inv_amt}}</td>
										<td>{{x.inv_date}}</td>
										<td>{{x.dom_port_code}}</td>
										<td>{{x.dbk_amount}}</td>
										<td>{{x.dbk_date}}</td>
									</tr>
								</tbody>
							</table>
							<dir-pagination-controls max-size='10' direction-links='true' boundray-links='true'>
							</dir-pagination-controls>
						</div>
					</div>
			</div>
			<div class='col-sm-1'>
			</div>
		</div>
		<div class='modal fade'  id='invDlg' role='dialog'>
			<div class='modal-dialog' style='height: 700px; ; width: 700px; '>
				<div class='modal-content'>
					<div class='modal-header'>
						<div class='row'>
							<span class='header1 col-sm-12' class='col-sm-12'>DBK updates</span>
						</div>
					</div>
					<div class='modal-body'>
						<div class='row'>
							<label class='col-sm-3'>Transaction ID</label>
							<div class='col-sm-9'>
								<input class='form-control'  type='text'  ng-readonly='true' ng-model='sales_invoice.sysid'>
							</div>
							<label class='col-sm-3'>Invoice no</label>
							<div class='col-sm-9'>
								<input class='form-control'  type='text'  ng-readonly='true' ng-model='sales_invoice.inv_no'>
							</div>
							<label class='col-sm-3'>Currency</label>
							<div class='col-sm-9'>
								<input class='form-control'  type='text'  ng-readonly='true' ng-model='sales_invoice.curr_name'>
							</div>
							<label class='col-sm-3'>Shipping value</label>
							<div class='col-sm-9'>
								<input class='form-control'  type='text'  ng-readonly='true' ng-model='sales_invoice.final_total_inv_amt'>
							</div>
							<label class='col-sm-3'>Exchange rate</label>
							<div class='col-sm-9'>
								<input class='form-control'  type='text'  ng-change='update_inr_value()' ng-model='sales_invoice.exchange_rate'>
							</div>
							<label class='col-sm-3'>INR (Value)</label>
							<div class='col-sm-9'>
								<input class='form-control'  type='text'  ng-readonly='true' ng-model='sales_invoice.inr_final_amount'>
							</div>
							<label class='col-sm-3'>Port code</label>
							<div class='col-sm-9'>
								<select class='form-control' ng-model='sales_invoice.dom_port_code' ng-init='sales_invoice.dom_port_code=sales_dom_ports[0].sysid' ng-options='x.sysid as x.port_code for x in sales_dom_portsList'></select>
							</div>
							<label class='col-sm-3'>DBK amount</label>
							<div class='col-sm-9'>
								<input class='form-control'  type='text' ng-model='sales_invoice.dbk_amount'>
							</div>
							<label class='col-sm-3'>DBK date</label>
							<div class='col-sm-9'>
								<div datetimepicker class='input-group date'  id='dt3' ng-model='sales_invoice.dbk_date'>
									<input type='text' class='form-control datepicker' placeholder='YYYY-MM-DD'>
									<span class='input-group-addon'>
										<span class='glyphicon glyphicon-calendar'></span>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class='footer'>
						<div class='row'  style='padding: 10px;'>
							<span class='header2 col-sm-9' class='col-sm-9'>{{sales_invoice_status}}</span>
							<div class='col-sm-3' style='text-align: right'>
								<div class='btn-group'>
									<button  class='btn btn-default btn-sm'  ng-click='save_sales_invoice_record()'>
										<span class='glyphicon glyphicon-saved'></span> Save
									</button>
									<button  class='btn btn-default btn-sm' data-dismiss='modal'>
										<span class='glyphicon glyphicon-remove'></span> Close
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>