<form role='form'>
				<script type='text/javascript'>
					$(function () {
						$('#').datetimepicker({format: 'YYYY-MM-DD'});
						$('#dt1').datetimepicker({format: 'YYYY-MM-DD'});
						$('#dt2').datetimepicker({format: 'YYYY-MM-DD'});
					});
					$('#clear').click(function(){
						$('#').data('DateTimePicker').clear();
						$('#dt1').data('DateTimePicker').clear();
						$('#dt2').data('DateTimePicker').clear();
					});
				</script>
	<div class='container-fluid'  style='padding: 0px;'>
		<div class='row'  style='background-color: #ffffff; min-height: 600px;'>
			<div class='col-sm-2'>
				<div ng-controller='shift_menuCtrl' ng-include src="'modules/hrms/shift_menu/shift_menu.html'"></div>
			</div>
		<div class='col-sm-10'>
			<div class='row'  style='padding-top: 20px'>
				<span class='header1 col-sm-1' class='col-sm-1'>Roster</span>
				<div class='col-sm-3'>
					<div class='input-group'>
						<input type='text' class='form-control' placeholder='Enter search text' ng-model='search'>
						<div class='input-group-btn'>
							<button class='btn btn-success btn-sm searchBox' type='submit'>
								<i class='glyphicon glyphicon-search'></i>
							</button>
						</div>
					</div>
				</div>
				<span class='header2 col-sm-5' class='col-sm-5'>{{hrms_shift_roster_status}}</span>
				<div class='col-sm-3' style='text-align: right'>
					<div class='btn-group'>
						<a  class='btn btn-default btn-sm'  href='#'  ng-click='insert_hrms_shift_roster_record()' data-target='#ltDlg' data-toggle='modal'>
							<span class='glyphicon glyphicon-plus'></span> Add
						</a>
						<button  class='btn btn-default btn-sm'>
							<span class='glyphicon glyphicon-download'></span> Download
						</button>
					</div>
				</div>
					<div class='col-sm-12'>
						<table class='table table-bordered table-condensed table-bordered'>
							<thead>
								<tr>
									<th >Employee name</th>
									<th>From date</th>
									<th>To date</th>
									<th>Shift name</th>
									<th>OT allowed</th>
									<th>Unit name</th>
									<th>Status</th>
									<th >Header</th>
								</tr>
							</thead>
							<tbody>
								<tr dir-paginate='x in hrms_shift_rosterList| filter: search| itemsPerPage: 12'>
									<td><a  href='#'  ng-click='update_hrms_shift_roster_record(x)' ng-model='hrms_shift_roster.complete_name' data-target='#ltDlg' data-toggle='modal'> {{x.complete_name}}</a></td>
									<td>{{x.from_date}}</td>
									<td>{{x.to_date}}</td>
									<td>{{x.title}}</td>
									<td>{{x.ot_allowed}}</td>
									<td>{{x.company_name}}</td>
									<td>{{x.status}}</td>
									<td><a  style='color:red;'  href='#'  ng-click='delete_hrms_shift_roster_record(x.sysid)'><span class='glyphicon glyphicon-trash'></span> Delete</a></td>
								</tr>
							</tbody>
						</table>
						<dir-pagination-controls max-size='10' direction-links='true' boundray-links='true'>
						</dir-pagination-controls>
					</div>
			</div>
		</div>
		</div>
	<div class='modal fade'  id='ltDlg' role='dialog'>
		<div class='modal-dialog' style='height: 700px; ; width: 700px; '>
			<div class='modal-content'>
				<div class='modal-header'>
					<div class='row'>
						<span class='header1 col-sm-12' class='col-sm-12'>Roster</span>
					</div>
				</div>
				<div class='modal-body'>
					<div class='row'>
						<label class='col-sm-5'>Employee name</label>
						<div class='col-sm-7'>
							<select class='form-control' ng-model='hrms_shift_roster.emp_id' ng-init='hrms_shift_roster.emp_id=hrms_employees[0].sysid' ng-options='x.sysid as x.complete_name for x in hrms_employeesList'></select>
						</div>
						<label class='col-sm-5'>From date</label>
						<div class='col-sm-7'>
							<div datetimepicker class='input-group date'  id='dt1' ng-model='hrms_shift_roster.from_date'>
								<input type='text' class='form-control datepicker' placeholder='YYYY-MM-DD'>
								<span class='input-group-addon'>
									<span class='glyphicon glyphicon-calendar'></span>
								</span>
							</div>
						</div>
						<label class='col-sm-5'>To date</label>
						<div class='col-sm-7'>
							<div datetimepicker class='input-group date'  id='dt2' ng-model='hrms_shift_roster.to_date'>
								<input type='text' class='form-control datepicker' placeholder='YYYY-MM-DD'>
								<span class='input-group-addon'>
									<span class='glyphicon glyphicon-calendar'></span>
								</span>
							</div>
						</div>
						<label class='col-sm-5'>Shift name</label>
						<div class='col-sm-7'>
							<select class='form-control' ng-model='hrms_shift_roster.shift_id' ng-init='hrms_shift_roster.shift_id=hrms_shift_master[0].sysid' ng-options='x.sysid as x.title for x in hrms_shift_masterList'></select>
						</div>
						<label class='col-sm-5'>OT allowed</label>
						<div class='col-sm-7'>
							<select class='form-control' ng-model='hrms_shift_roster.ot_allowed' ng-init='hrms_shift_roster.ot_allowed=otList[0]' ng-options='x as x for x in otList'></select>
						</div>
						<label class='col-sm-5'>Unit name</label>
						<div class='col-sm-7'>
							<select class='form-control' ng-model='hrms_shift_roster.company_id' ng-init='hrms_shift_roster.company_id=admin_company[0].sysid' ng-options='x.sysid as x.company_name for x in admin_companyList'></select>
						</div>
						<label class='col-sm-5'>Status</label>
						<div class='col-sm-7'>
							<select class='form-control' ng-model='hrms_shift_roster.status' ng-init='hrms_shift_roster.status=statusList[0]' ng-options='x as x for x in statusList'></select>
						</div>
					</div>
				</div>
				<div class='footer'>
					<div class='row'  style='padding: 10px;'>
						<span class='header2 col-sm-7' class='col-sm-7'>{{hrms_shift_roster_status}}</span>
						<div class='col-sm-5' style='text-align: right'>
							<div class='btn-group'>
								<button  class='btn btn-default btn-sm'  ng-click='save_hrms_shift_roster_record()'>
									<span class='glyphicon glyphicon-saved'></span> Save
								</button>
								<button  class='btn btn-default btn-sm' data-dismiss='modal'>
									<span class='glyphicon glyphicon-remove'></span> Close
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</form>