<form role='form'>
					<script type='text/javascript'>
						$(function () {
							$('#').datetimepicker({format: 'YYYY-MM-DD'});
							$('#dt1').datetimepicker({format: 'YYYY-MM-DD'});
							$('#dt2').datetimepicker({format: 'YYYY-MM-DD'});
							$('#dt3').datetimepicker({format: 'YYYY-MM-DD'});
							$('#dt4').datetimepicker({format: 'YYYY-MM-DD'});
							$('#dt5').datetimepicker({format: 'YYYY-MM-DD'});
						});
						$('#clear').click(function(){
							$('#').data('DateTimePicker').clear();
							$('#dt1').data('DateTimePicker').clear();
							$('#dt2').data('DateTimePicker').clear();
							$('#dt3').data('DateTimePicker').clear();
							$('#dt4').data('DateTimePicker').clear();
							$('#dt5').data('DateTimePicker').clear();
						});
							$('#').click(function(){
								var sysdate = new Date();
								$('#').data('DateTimePicker').date(sysdate);
							})
							$('#dt1').click(function(){
								var sysdate = new Date();
								$('#dt1').data('DateTimePicker').date(sysdate);
							})
							$('#dt2').click(function(){
								var sysdate = new Date();
								$('#dt2').data('DateTimePicker').date(sysdate);
							})
							$('#dt3').click(function(){
								var sysdate = new Date();
								$('#dt3').data('DateTimePicker').date(sysdate);
							})
							$('#dt4').click(function(){
								var sysdate = new Date();
								$('#dt4').data('DateTimePicker').date(sysdate);
							})
							$('#dt5').click(function(){
								var sysdate = new Date();
								$('#dt5').data('DateTimePicker').date(sysdate);
							})
					</script>
	<div class='container-fluid'  style='padding: 0px;'>
		<div class='row'  style='background-color: #ffffff; min-height: 600px;'>
			<div class='col-sm-2'>
				<div ng-controller='income_tax_menuCtrl' ng-include src="'modules/payroll/income_tax_menu/income_tax_menu.html'"></div>
			</div>
		<div class='col-sm-10'>
			<div class='row'  style='padding-top: 20px'>
				<span class='header-title col-sm-2' class='col-sm-2'>Income Tax heads</span>
				<div class='col-sm-12' style='padding-top: 5px'>
					<hr>
				</div>
			</div>
				<div class='row'>
					<div class='col-sm-6'>
						<div class='row'>
							<span class='header2 col-sm-12'  style='text-align: center' class='col-sm-12'>Section head</span>
							<div class='col-sm-12'>
								<hr>
							</div>
						</div>
							<div class='row'>
								<label class='col-sm-3'>Section name</label>
								<div class='col-sm-9'>
									<input class='form-control'  type='text' ng-model='payroll_it_section.section_name'>
								</div>
								<label class='col-sm-3'>Status</label>
								<div class='col-sm-9'>
									<select class='form-control' ng-model='payroll_it_section.status' ng-init='payroll_it_section.status=[0]' ng-options='x as x for x in '></select>
								</div>
								<div class='col-sm-12' style='text-align: right'>
									<button  class='btn btn-default btn-sm'>
										<span class='glyphicon glyphicon-saved'></span> Save
									</button>
								</div>
							</div>
							<div class='row'  style='padding-top: 10px'>
								<div class='col-sm-12'>
									<table class='table table-bordered table-condensed table-bordered'>
										<thead>
											<tr>
												<th >Section name</th>
												<th>Status</th>
												<th ></th>
											</tr>
										</thead>
										<tbody>
											<tr dir-paginate='x in payroll_it_sectionList| filter: search| itemsPerPage: 12'>
												<td><a  href='#' ng-model='payroll_it_section.section_name'> {{x.section_name}}</a></td>
												<td>{{x.status}}</td>
												<td><a  style='color:red;'  href='#'  ng-click='delete_payroll_advances_requests_record(x.sysid)'><span class='glyphicon glyphicon-trash'></span> Delete</a></td>
											</tr>
										</tbody>
									</table>
									<dir-pagination-controls max-size='10' direction-links='true' boundray-links='true'>
									</dir-pagination-controls>
								</div>
							</div>
					</div>
					<div class='col-sm-6'>
						<div class='row'>
							<span class='header2 col-sm-12'  style='text-align: center' class='col-sm-12'>Section details</span>
							<div class='col-sm-12'>
								<hr>
							</div>
						</div>
							<div class='row'>
								<label class='col-sm-3'>Description</label>
								<div class='col-sm-9'>
									<input class='form-control'  type='text' ng-model='payroll_it_section_details.item_descr'>
								</div>
								<label class='col-sm-3'>Max limit</label>
								<div class='col-sm-9'>
									<input class='form-control'  type='text' ng-model='payroll_it_section_details.max_limit'>
								</div>
								<div class='col-sm-12' style='text-align: right'>
									<button  class='btn btn-default btn-sm'>
										<span class='glyphicon glyphicon-saved'></span> Save
									</button>
								</div>
							</div>
							<div class='row'  style='padding-top: 10px'>
								<div class='col-sm-12'>
									<table class='table table-bordered table-condensed table-bordered'>
										<thead>
											<tr>
												<th >Description</th>
												<th>Max limit</th>
												<th ></th>
											</tr>
										</thead>
										<tbody>
											<tr dir-paginate='x in payroll_it_section_detailsList| filter: search| itemsPerPage: 12'>
												<td><a  href='#' ng-model='payroll_it_section_details.item_descr'> {{x.item_descr}}</a></td>
												<td>{{x.max_limit}}</td>
												<td><a  style='color:red;'  href='#'  ng-click='delete_payroll_advances_requests_record(x.sysid)'><span class='glyphicon glyphicon-trash'></span> Delete</a></td>
											</tr>
										</tbody>
									</table>
									<dir-pagination-controls max-size='10' direction-links='true' boundray-links='true'>
									</dir-pagination-controls>
								</div>
							</div>
					</div>
				</div>
		</div>
			<div class='col-sm-5'>
			</div>
		</div>
		<div class='modal fade'  id='ltDlg' role='dialog'>
			<div class='modal-dialog' style='height: 700px; ; width: 1000px; '>
				<div class='modal-content'>
					<div class='modal-header'>
						<div class='row'>
							<span class='header1 col-sm-12' class='col-sm-12'>Advance request</span>
						</div>
					</div>
					<div class='modal-body'>
						<div class='row'>
							<div class='col-sm-6'>
								<div class='row'>
									<label class='col-sm-5'>Employee</label>
									<div class='col-sm-7'>
										<select class='form-control' ng-model='payroll_advances_requests.emp_id' ng-init='payroll_advances_requests.emp_id=hrms_employees[0].sysid' ng-options='x.sysid as x.complete_name for x in hrms_employeesList'></select>
									</div>
									<label class='col-sm-5'>Request date</label>
									<div class='col-sm-7'>
										<div datetimepicker class='input-group date'  id='dt1' ng-model='payroll_advances_requests.req_date'>
											<input type='text' class='form-control datepicker' placeholder='YYYY-MM-DD'>
											<span class='input-group-addon'>
												<span class='glyphicon glyphicon-calendar'></span>
											</span>
										</div>
									</div>
									<label class='col-sm-5'>Request amount</label>
									<div class='col-sm-7'>
										<input class='form-control'  type='text' ng-model='payroll_advances_requests.req_amount'>
									</div>
									<label class='col-sm-5'>Description</label>
									<div class='col-sm-7'>
										<textarea class='form-control' ng-model='payroll_advances_requests.req_descr' rows='5'></textarea>
									</div>
								</div>
							</div>
							<div class='col-sm-6'>
								<div class='row'>
									<label class='col-sm-5'>Recurring</label>
									<div class='col-sm-7'>
										<select class='form-control' ng-model='payroll_advances_requests.is_recurring_reqd' ng-init='payroll_advances_requests.is_recurring_reqd=recList[0]' ng-options='x as x for x in recList'></select>
									</div>
									<label class='col-sm-5'>Return mode</label>
									<div class='col-sm-7'>
										<select class='form-control' ng-model='payroll_advances_requests.return_mode' ng-init='payroll_advances_requests.return_mode=admin_lov[0].sysid' ng-options='x.sysid as x.type_name for x in admin_lovList'></select>
									</div>
									<label class='col-sm-5'>Payment mode</label>
									<div class='col-sm-7'>
										<select class='form-control' ng-model='payroll_advances_requests.adv_pay_mode' ng-init='payroll_advances_requests.adv_pay_mode=admin_lov[0].sysid' ng-options='x.sysid as x.type_name for x in admin_lovList'></select>
									</div>
									<label class='col-sm-5'>Unit name</label>
									<div class='col-sm-7'>
										<select class='form-control' ng-model='payroll_advances_requests.company_id' ng-init='payroll_advances_requests.company_id=admin_company[0].sysid' ng-options='x.sysid as x.company_name for x in admin_companyList'></select>
									</div>
									<label class='col-sm-5'>Status</label>
									<div class='col-sm-7'>
										<select class='form-control' ng-model='payroll_advances_requests.status' ng-init='payroll_advances_requests.status=admin_lov[0].sysid' ng-options='x.sysid as x.type_name for x in admin_lovList'></select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class='footer'>
						<div class='row'  style='padding: 10px;'>
							<span class='header2 col-sm-7' class='col-sm-7'>{{payroll_advances_requests_status}}</span>
							<div class='col-sm-5' style='text-align: right'>
								<div class='btn-group'>
									<button  class='btn btn-default btn-sm'  ng-click='save_payroll_advances_requests_record()'>
										<span class='glyphicon glyphicon-saved'></span> Save
									</button>
									<button  class='btn btn-default btn-sm' data-dismiss='modal'>
										<span class='glyphicon glyphicon-remove'></span> Close
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>