<form role='form'>
				<script type='text/javascript'>
					$(function () {
						$('#').datetimepicker({format: 'YYYY-MM-DD'});
						$('#dt1').datetimepicker({format: 'YYYY-MM-DD'});
						$('#dt2').datetimepicker({format: 'YYYY-MM-DD'});
						$('#dt3').datetimepicker({format: 'YYYY-MM-DD'});
						$('#dt4').datetimepicker({format: 'YYYY-MM-DD'});
						$('#dt5').datetimepicker({format: 'YYYY-MM-DD'});
					});
					$('#clear').click(function(){
						$('#').data('DateTimePicker').clear();
						$('#dt1').data('DateTimePicker').clear();
						$('#dt2').data('DateTimePicker').clear();
						$('#dt3').data('DateTimePicker').clear();
						$('#dt4').data('DateTimePicker').clear();
						$('#dt5').data('DateTimePicker').clear();
					});
						$('#').click(function(){
							var sysdate = new Date();
							$('#').data('DateTimePicker').date(sysdate);
						})
						$('#dt1').click(function(){
							var sysdate = new Date();
							$('#dt1').data('DateTimePicker').date(sysdate);
						})
						$('#dt2').click(function(){
							var sysdate = new Date();
							$('#dt2').data('DateTimePicker').date(sysdate);
						})
						$('#dt3').click(function(){
							var sysdate = new Date();
							$('#dt3').data('DateTimePicker').date(sysdate);
						})
						$('#dt4').click(function(){
							var sysdate = new Date();
							$('#dt4').data('DateTimePicker').date(sysdate);
						})
						$('#dt5').click(function(){
							var sysdate = new Date();
							$('#dt5').data('DateTimePicker').date(sysdate);
						})
				</script>
	<div class='container-fluid'  style='padding: 0px;'>
		<div class='row'  style='background-color: #ffffff; min-height: 600px;'>
			<div class='col-sm-2'>
				<div ng-controller='advance_menuCtrl' ng-include src="'modules/payroll/advance_menu/advance_menu.html'"></div>
			</div>
		<div class='col-sm-10'>
			<div class='row'  style='padding-top: 20px'>
				<span class='header-title col-sm-2' class='col-sm-2'>Advance request</span>
				<div class='col-sm-3'>
					<div class='input-group'>
						<input type='text' class='form-control' placeholder='Enter search text' ng-model='search'>
						<div class='input-group-btn'>
							<button class='btn btn-success btn-sm searchBox' type='submit'>
								<i class='glyphicon glyphicon-search'></i>
							</button>
						</div>
					</div>
				</div>
				<span class='header2 col-sm-4' class='col-sm-4'>{{payroll_advances_requests_status}}</span>
				<div class='col-sm-3' style='text-align: right'>
					<div class='btn-group'>
						<a  class='btn btn-default btn-sm'  href='#'  ng-click='insert_payroll_advances_requests_record()' data-target='#ltDlg' data-toggle='modal'>
							<span class='glyphicon glyphicon-plus'></span> Add
						</a>
					</div>
				</div>
					<div class='col-sm-12'>
						<table class='table table-bordered table-condensed table-bordered'>
							<thead>
								<tr>
									<th >Employee</th>
									<th>Trans. ID</th>
									<th>Request date</th>
									<th>Request amount</th>
									<th>Recurring</th>
									<th>Return mode</th>
									<th>Payment mode</th>
									<th>Status</th>
									<th ></th>
								</tr>
							</thead>
							<tbody>
								<tr dir-paginate='x in payroll_advances_requestsList| filter: search| itemsPerPage: 12'>
									<td><a  href='#'  ng-click='update_payroll_advances_requests_record(x)' ng-model='payroll_advances_requests.complete_name' data-target='#ltDlg' data-toggle='modal'> {{x.complete_name}}</a></td>
									<td>{{x.sysid}}</td>
									<td>{{x.req_date}}</td>
									<td>{{x.req_amount}}</td>
									<td>{{x.is_recurring_reqd}}</td>
									<td>{{x.return_mode}}</td>
									<td>{{x.adv_pay_mode}}</td>
									<td>{{x.status}}</td>
									<td><a  style='color:red;'  href='#'  ng-click='delete_payroll_advances_requests_record(x.sysid)'><span class='glyphicon glyphicon-trash'></span> Delete</a></td>
								</tr>
							</tbody>
						</table>
						<dir-pagination-controls max-size='10' direction-links='true' boundray-links='true'>
						</dir-pagination-controls>
					</div>
			</div>
		</div>
		</div>
	<div class='modal fade'  id='ltDlg' role='dialog'>
		<div class='modal-dialog' style='height: 700px; ; width: 1000px; '>
			<div class='modal-content'>
				<div class='modal-header'>
					<div class='row'>
						<span class='header1 col-sm-12' class='col-sm-12'>Advance request</span>
					</div>
				</div>
				<div class='modal-body'>
					<div class='row'>
						<div class='col-sm-6'>
							<div class='row'>
								<label class='col-sm-3'>Trans ID</label>
								<div class='col-sm-9'>
									<input class='form-control'  type='text'  ng-readonly='true' ng-model='payroll_advances_requests.sysid'>
								</div>
								<label class='col-sm-3'>Employee</label>
								<div class='col-sm-7'>
									<input class='form-control'  type='text'  ng-readonly='true' ng-model='payroll_advances_requests.emp_name'>
								</div>
								<div class='col-sm-2'>
									<input class='form-control'  type='text'  ng-readonly='true' ng-model='payroll_advances_requests.emp_id'>
								</div>
								<label class='col-sm-3'>Request date</label>
								<div class='col-sm-9'>
									<input class='form-control'  type='text'  ng-readonly='true' ng-model='payroll_advances_requests.req_date'>
								</div>
								<label class='col-sm-3'>Request amount</label>
								<div class='col-sm-9'>
									<input class='form-control'  type='text' ng-model='payroll_advances_requests.req_amount'>
								</div>
								<label class='col-sm-3'>Description</label>
								<div class='col-sm-9'>
									<textarea class='form-control' ng-model='payroll_advances_requests.req_descr' rows='5'></textarea>
								</div>
								<label class='col-sm-3'>Is recurring reqd</label>
								<div class='col-sm-9'>
									<select class='form-control' ng-model='payroll_advances_requests.is_recurring_reqd' ng-init='payroll_advances_requests.is_recurring_reqd=recModeList[0]' ng-options='x as x for x in recModeList'></select>
								</div>
								<label class='col-sm-3'>Return mode</label>
								<div class='col-sm-9'>
									<select class='form-control' ng-model='payroll_advances_requests.return_mode' ng-init='payroll_advances_requests.return_mode=retModeList[0]' ng-options='x as x for x in retModeList'></select>
								</div>
							</div>
						</div>
						<div class='col-sm-6'>
							<div class='row'>
								<label class='col-sm-3'>Adv pay mode</label>
								<div class='col-sm-9'>
									<select class='form-control' ng-model='payroll_advances_requests.adv_pay_mode' ng-init='payroll_advances_requests.adv_pay_mode=payModeList[0]' ng-options='x as x for x in payModeList'></select>
								</div>
								<label class='col-sm-3'>Unit name</label>
								<div class='col-sm-9'>
									<select class='form-control' ng-model='payroll_advances_requests.company_id' ng-init='payroll_advances_requests.company_id=admin_company[0].sysid' ng-options='x.sysid as x.company_name for x in admin_companyList'></select>
								</div>
								<label class='col-sm-3'>Status</label>
								<div class='col-sm-9'>
									<input class='form-control'  type='text'  ng-readonly='true' ng-model='payroll_advances_requests.status'>
								</div>
								<label class='col-sm-3'>Approved amount</label>
								<div class='col-sm-9'>
									<input class='form-control'  type='text'  ng-readonly='true' ng-model='payroll_advances_requests.approved_amount'>
								</div>
								<label class='col-sm-3'>Approver id</label>
								<div class='col-sm-9'>
									<input class='form-control'  type='text'  ng-readonly='true' ng-model='payroll_advances_requests.approver_id'>
								</div>
								<label class='col-sm-3'>Approver remarks</label>
								<div class='col-sm-9'>
									<textarea class='form-control'  ng-readonly='true' ng-model='payroll_advances_requests.approver_remarks' rows='5'></textarea>
								</div>
								<label class='col-sm-3'>Approval date</label>
								<div class='col-sm-9'>
									<input class='form-control'  type='text'  ng-readonly='true' ng-model='payroll_advances_requests.approval_date'>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class='footer'>
					<div class='row'  style='padding: 10px;'>
						<span class='header2 col-sm-7' class='col-sm-7'>{{payroll_advances_requests_status}}</span>
						<div class='col-sm-5' style='text-align: right'>
							<div class='btn-group'>
								<button  class='btn btn-default btn-sm'  ng-click='save_payroll_advances_requests_record()'  ng-show='can_show'>
									<span class='glyphicon glyphicon-saved'></span> Save
								</button>
								<button  class='btn btn-default btn-sm' data-dismiss='modal'>
									<span class='glyphicon glyphicon-remove'></span> Close
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</form>