<form role='form'>
				<script type='text/javascript'>
					$(function () {
						$('#').datetimepicker({format: 'YYYY-MM-DD'});
						$('#dt1').datetimepicker({format: 'YYYY-MM-DD'});
						$('#dt2').datetimepicker({format: 'YYYY-MM-DD'});
					});
					$('#clear').click(function(){
						$('#').data('DateTimePicker').clear();
						$('#dt1').data('DateTimePicker').clear();
						$('#dt2').data('DateTimePicker').clear();
					});
						$('#').click(function(){
							var sysdate = new Date();
							$('#').data('DateTimePicker').date(sysdate);
						})
						$('#dt1').click(function(){
							var sysdate = new Date();
							$('#dt1').data('DateTimePicker').date(sysdate);
						})
						$('#dt2').click(function(){
							var sysdate = new Date();
							$('#dt2').data('DateTimePicker').date(sysdate);
						})
				</script>
	<div class='container-fluid'>
		<div class='row'  style='background-color: #ffffff; padding: 0px;'>
			<div class='col-sm-2'>
				<div class='row'  style='padding: 0px;'>
					<div ng-controller='vendor_mgmt_menuCtrl' ng-include src="'modules/inv/vendor_mgmt_menu/vendor_mgmt_menu.html'"></div>
				</div>
			</div>
		<div class='col-sm-10'>
			<div class='row'  style='padding-top: 20px'>
				<span class='header-title col-sm-2' class='col-sm-2'>Supplier items</span>
				<div class='col-sm-3'>
					<div class='input-group'>
						<input type='text' class='form-control' placeholder='Enter search text' ng-model='search'>
						<div class='input-group-btn'>
							<button class='btn btn-success btn-sm searchBox' type='submit'>
								<i class='glyphicon glyphicon-search'></i>
							</button>
						</div>
					</div>
				</div>
				<span class='header2 col-sm-5' class='col-sm-5'>{{inv_vendor_items_status}}</span>
				<div class='col-sm-2' style='text-align: right'>
					<div class='btn-group'>
						<button  class='btn btn-default btn-sm'  ng-click='insert_inv_vendor_items_record()' data-target='#procDlg' data-toggle='modal'>
							<span class='glyphicon glyphicon-plus'></span> Add
						</button>
					</div>
				</div>
			</div>
				<div class='row'>
					<div class='col-sm-12'>
						<table class='table table-bordered table-condensed table-bordered'>
							<thead>
								<tr>
									<th >Item name</th>
									<th>Employee</th>
									<th>Vendor</th>
									<th>Trans ID</th>
									<th>Process name</th>
									<th>Unit rate</th>
									<th>Rate for qty</th>
									<th>Currency</th>
									<th>Rate start date</th>
									<th>Rate end date</th>
									<th>Status</th>
									<th ></th>
								</tr>
							</thead>
							<tbody>
								<tr dir-paginate='x in inv_vendor_itemsList| filter: search| itemsPerPage: 12'>
									<td><a  href='#'  ng-click='update_inv_vendor_items_record(x)' ng-model='inv_vendor_items.item_name' data-target='#procDlg' data-toggle='modal'> {{x.item_name}}</a></td>
									<td>{{x.emp_name}}</td>
									<td>{{x.supp_name}}</td>
									<td>{{x.sysid}}</td>
									<td>{{x.proc_name}}</td>
									<td>{{x.unit_rate}}</td>
									<td>{{x.rate_for_qty}}</td>
									<td>{{x.short_code}}</td>
									<td>{{x.rate_start_date}}</td>
									<td>{{x.rate_end_date}}</td>
									<td>{{x.status}}</td>
									<td><a  style='color: red'  href='#'  ng-click='delete_inv_vendor_items_record(x.sysid)'><span class='glyphicon glyphicon-trash'></span> Delete</a></td>
								</tr>
							</tbody>
						</table>
						<dir-pagination-controls max-size='10' direction-links='true' boundray-links='true'>
						</dir-pagination-controls>
					</div>
				</div>
		</div>
		</div>
	<div class='modal fade'  id='procDlg' role='dialog'>
		<div class='modal-dialog' style='height: 700px; ; width: 1000px; '>
			<div class='modal-content'>
				<div class='modal-header'>
					<div class='row'>
						<span class='header1 col-sm-12' class='col-sm-12'>Supplier items</span>
					</div>
				</div>
				<div class='modal-body'>
					<div class='row'>
						<div class='col-sm-6'>
							<div class='row'>
								<label class='col-sm-5'>Trans ID</label>
								<div class='col-sm-7'>
									<input class='form-control'  type='text'  ng-readonly='true' ng-model='inv_vendor_items.sysid'>
								</div>
								<label class='col-sm-5'>Employee name</label>
								<div class='col-sm-7'>
									<select class='form-control' ng-model='inv_vendor_items.emp_id' ng-init='inv_vendor_items.emp_id=hrms_employees[0].sysid' ng-options='x.sysid as x.complete_name for x in hrms_employeesList'></select>
								</div>
								<label class='col-sm-5'>Vendor</label>
								<div class='col-sm-7'>
									<select class='form-control' ng-model='inv_vendor_items.supp_id' ng-init='inv_vendor_items.supp_id=inv_supplier[0].sysid' ng-options='x.sysid as x.supp_name for x in inv_supplierList'></select>
								</div>
								<label class='col-sm-5'>Item name</label>
								<div class='col-sm-7'>
									<select class='form-control' ng-model='inv_vendor_items.item_id' ng-init='inv_vendor_items.item_id=inv_item_master[0].sysid' ng-options='x.sysid as x.item_name for x in inv_item_masterList'></select>
								</div>
								<label class='col-sm-5'>Process name</label>
								<div class='col-sm-7'>
									<select class='form-control' ng-model='inv_vendor_items.process_id' ng-init='inv_vendor_items.process_id=inv_supp_process[0].sysid' ng-options='x.sysid as x.proc_name for x in inv_supp_processList'></select>
								</div>
								<label class='col-sm-5'>Unit rate</label>
								<div class='col-sm-7'>
									<input class='form-control'  type='text' ng-model='inv_vendor_items.unit_rate'>
								</div>
								<label class='col-sm-5'>Rate for qty</label>
								<div class='col-sm-7'>
									<input class='form-control'  type='text' ng-model='inv_vendor_items.rate_for_qty'>
								</div>
							</div>
						</div>
						<div class='col-sm-6'>
							<div class='row'>
								<label class='col-sm-5'>UoM</label>
								<div class='col-sm-7'>
									<input class='form-control'  type='text' ng-model='inv_vendor_items.qty_uom'>
								</div>
								<label class='col-sm-5'>Rate start date</label>
								<div class='col-sm-7'>
									<div datetimepicker class='input-group date'  ng-change='set_end_date()'  id='dt1' ng-model='inv_vendor_items.rate_start_date'>
										<input type='text' class='form-control datepicker' placeholder='YYYY-MM-DD'>
										<span class='input-group-addon'>
											<span class='glyphicon glyphicon-calendar'></span>
										</span>
									</div>
								</div>
								<label class='col-sm-5'>Rate end date</label>
								<div class='col-sm-7'>
									<div datetimepicker class='input-group date'  id='dt2' ng-model='inv_vendor_items.rate_end_date'>
										<input type='text' class='form-control datepicker' placeholder='YYYY-MM-DD'>
										<span class='input-group-addon'>
											<span class='glyphicon glyphicon-calendar'></span>
										</span>
									</div>
								</div>
								<label class='col-sm-5'>Currency</label>
								<div class='col-sm-7'>
									<select class='form-control' ng-model='inv_vendor_items.curr_id' ng-init='inv_vendor_items.curr_id=admin_currency[0].sysid' ng-options='x.sysid as x.short_code for x in admin_currencyList'></select>
								</div>
								<label class='col-sm-5'>Min slab qty</label>
								<div class='col-sm-7'>
									<input class='form-control'  type='text' ng-model='inv_vendor_items.min_slab_qty'>
								</div>
								<label class='col-sm-5'>Max slab qty</label>
								<div class='col-sm-7'>
									<input class='form-control'  type='text' ng-model='inv_vendor_items.max_slab_qty'>
								</div>
								<label class='col-sm-5'>Status</label>
								<div class='col-sm-7'>
									<select class='form-control' ng-model='inv_vendor_items.status' ng-init='inv_vendor_items.status=statusList[0]' ng-options='x as x for x in statusList'></select>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class='footer'>
					<div class='row'  style='padding: 10px;'>
						<span class='header2 col-sm-9' class='col-sm-9'>{{inv_vendor_items_status}}</span>
						<div class='col-sm-3' style='text-align: right'>
							<div class='btn-group'>
								<button  class='btn btn-default btn-sm'  ng-click='save_inv_vendor_items_record()'>
									<span class='glyphicon glyphicon-saved'></span> Save
								</button>
								<button  class='btn btn-default btn-sm' data-dismiss='modal'>
									<span class='glyphicon glyphicon-remove'></span> Close
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</form>