<form role='form'>
				<script type='text/javascript'>
					$(function () {
						$('#dt1').datetimepicker({format: 'YYYY-MM-DD'});
						$('#dt2').datetimepicker({format: 'YYYY-MM-DD'});
						$('#dt3').datetimepicker({format: 'YYYY-MM-DD'});
					});
					$('#clear').click(function(){
						$('#dt1').data('DateTimePicker').clear();
						$('#dt2').data('DateTimePicker').clear();
						$('#dt3').data('DateTimePicker').clear();
					});
						$('#dt1').click(function(){
							var sysdate = new Date();
							$('#dt1').data('DateTimePicker').date(sysdate);
						})
						$('#dt2').click(function(){
							var sysdate = new Date();
							$('#dt2').data('DateTimePicker').date(sysdate);
						})
						$('#dt3').click(function(){
							var sysdate = new Date();
							$('#dt3').data('DateTimePicker').date(sysdate);
						})
				</script>
	<div class='container-fluid'  style='padding: 0px;'>
		<div class='row'  style='background-color: #ffffff; min-height: 600px;'>
			<div class='col-sm-2'>
				<div ng-controller='leaves_menuCtrl' ng-include src="'modules/hrms/leaves_menu/leaves_menu.html'"></div>
			</div>
		<div class='col-sm-10'>
			<div class='row'  style='padding-top: 20px'>
				<span class='header1 col-sm-9' class='col-sm-9'>Leave register for</span>
				<div class='col-sm-3' style='text-align: right'>
					<div class='btn-group'>
						<button  class='btn btn-default btn-sm'>
							<span class='glyphicon glyphicon-download'></span> Download
						</button>
					</div>
				</div>
					<div class='col-sm-12'>
						<table class='table table-bordered table-condensed table-bordered'>
							<thead>
								<tr>
									<th>Leave type</th>
									<th>Leave from</th>
									<th>Leave to</th>
									<th>Is halfday</th>
									<th>Leave reason</th>
									<th>Leave request date</th>
									<th>Leave status</th>
									<th>Deny reason</th>
									<th ></th>
								</tr>
							</thead>
							<tbody>
								<tr dir-paginate='x in hrms_leave_registerList| filter: search| itemsPerPage: 12'>
									<td>{{x.leave_type_id}}</td>
									<td>{{x.leave_from}}</td>
									<td>{{x.leave_to}}</td>
									<td>{{x.is_halfday}}</td>
									<td>{{x.leave_reason}}</td>
									<td>{{x.leave_request_date}}</td>
									<td>{{x.leave_status}}</td>
									<td>{{x.denyreason}}</td>
									<td><a  style='color:red;'  href='#'  ng-click='delete_hrms_leave_register_record(x.sysid)'><span class='glyphicon glyphicon-trash'></span> Delete</a></td>
								</tr>
							</tbody>
						</table>
						<dir-pagination-controls max-size='10' direction-links='true' boundray-links='true'>
						</dir-pagination-controls>
					</div>
			</div>
		</div>
		</div>
	<div class='modal fade'  id='ltDlg' role='dialog'>
		<div class='modal-dialog' style='height: 700px; ; width: 1000px; '>
			<div class='modal-content'>
				<div class='modal-header'>
					<div class='row'>
						<span class='header1 col-sm-12' class='col-sm-12'>Leave type</span>
					</div>
				</div>
				<div class='modal-body'>
					<div class='row'>
						<div class='col-sm-6'>
							<div class='row'>
								<label class='col-sm-5'>Emp id</label>
								<div class='col-sm-7'>
									<select class='form-control' ng-model='hrms_leave_register.emp_id' ng-init='hrms_leave_register.emp_id=hrms_employees[0].sysid' ng-options='x.sysid as x.complete_name for x in hrms_employeesList'></select>
								</div>
								<label class='col-sm-5'>Leave type id</label>
								<div class='col-sm-7'>
									<select class='form-control' ng-model='hrms_leave_register.leave_type_id' ng-init='hrms_leave_register.leave_type_id=hrms_leave_type[0].sysid' ng-options='x.sysid as x.leave_type for x in hrms_leave_typeList'></select>
								</div>
								<label class='col-sm-5'>Leave from</label>
								<div class='col-sm-7'>
									<div datetimepicker class='input-group date'  id='dt1' ng-model='hrms_leave_register.leave_from'>
										<input type='text' class='form-control datepicker' placeholder='YYYY-MM-DD'>
										<span class='input-group-addon'>
											<span class='glyphicon glyphicon-calendar'></span>
										</span>
									</div>
								</div>
								<label class='col-sm-5'>Leave to</label>
								<div class='col-sm-7'>
									<div datetimepicker class='input-group date'  id='dt2' ng-model='hrms_leave_register.leave_to'>
										<input type='text' class='form-control datepicker' placeholder='YYYY-MM-DD'>
										<span class='input-group-addon'>
											<span class='glyphicon glyphicon-calendar'></span>
										</span>
									</div>
								</div>
								<label class='col-sm-5'>Is halfday</label>
								<div class='col-sm-7'>
									<input class='form-control'  type='text' ng-model='hrms_leave_register.is_halfday'>
								</div>
							</div>
						</div>
						<div class='col-sm-6'>
							<div class='row'>
								<label class='col-sm-5'>Leave reason</label>
								<div class='col-sm-7'>
									<input class='form-control'  type='text' ng-model='hrms_leave_register.leave_reason'>
								</div>
								<label class='col-sm-5'>Leave request date</label>
								<div class='col-sm-7'>
									<div datetimepicker class='input-group date'  id='dt3' ng-model='hrms_leave_register.leave_request_date'>
										<input type='text' class='form-control datepicker' placeholder='YYYY-MM-DD'>
										<span class='input-group-addon'>
											<span class='glyphicon glyphicon-calendar'></span>
										</span>
									</div>
								</div>
								<label class='col-sm-5'>Leave status</label>
								<div class='col-sm-7'>
									<input class='form-control'  type='text' ng-model='hrms_leave_register.leave_status'>
								</div>
								<label class='col-sm-5'>Denyreason</label>
								<div class='col-sm-7'>
									<input class='form-control'  type='text' ng-model='hrms_leave_register.denyreason'>
								</div>
								<label class='col-sm-5'>Workflow</label>
								<div class='col-sm-7'>
									<select class='form-control' ng-model='hrms_leave_register.workflow_id' ng-init='hrms_leave_register.workflow_id=admin_workflow_master[0].sysid' ng-options='x.sysid as x.workflow_name for x in admin_workflow_masterList'></select>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class='footer'>
					<div class='row'  style='padding: 10px;'>
						<span class='header2 col-sm-7' class='col-sm-7'>{{hrms_leave_register_status}}</span>
						<div class='col-sm-5' style='text-align: right'>
							<div class='btn-group'>
								<button  class='btn btn-default btn-sm'  ng-click='save_hrms_leave_type_record()'>
									<span class='glyphicon glyphicon-saved'></span> Save
								</button>
								<button  class='btn btn-default btn-sm' data-dismiss='modal'>
									<span class='glyphicon glyphicon-remove'></span> Close
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</form>