<form role='form'>
	<script type='text/javascript'>
		$(function () {
			$('#').datetimepicker({format: 'YYYY-MM-DD'});
			$('#dt1').datetimepicker({format: 'YYYY-MM-DD'});
			$('#dt2').datetimepicker({format: 'YYYY-MM-DD'});
		});
		$('#clear').click(function(){
			$('#').data('DateTimePicker').clear();
			$('#dt1').data('DateTimePicker').clear();
			$('#dt2').data('DateTimePicker').clear();
		});
			$('#').click(function(){
				var sysdate = new Date();
				$('#').data('DateTimePicker').date(sysdate);
			})
			$('#dt1').click(function(){
				var sysdate = new Date();
				$('#dt1').data('DateTimePicker').date(sysdate);
			})
			$('#dt2').click(function(){
				var sysdate = new Date();
				$('#dt2').data('DateTimePicker').date(sysdate);
			})
	</script>
	<div class='container-fluid'>
		<div class='row'  style='background-color: #ffffff; padding: 0px;'>
			<div class='col-sm-2'>
				<div class='row'  style='padding: 0px;'>
					<div ng-controller='sal_menuCtrl' ng-include src="'modules/payroll/sal_menu/sal_menu.html'"></div>
				</div>
			</div>
		<div class='col-sm-10'>
			<div class='row'  style='padding-top: 20px'>
				<span class='header-title col-sm-2' class='col-sm-2'>Compensation</span>
				<div class='col-sm-3'>
					<div class='input-group'>
						<input type='text' class='form-control' placeholder='Enter search text' ng-model='search'>
						<div class='input-group-btn'>
							<button class='btn btn-success btn-sm searchBox' type='submit'>
								<i class='glyphicon glyphicon-search'></i>
							</button>
						</div>
					</div>
				</div>
				<span class='header2 col-sm-4' class='col-sm-4'></span>
				<div class='col-sm-3' style='text-align: right'>
					<div class='btn-group'>
						<a  class='btn btn-default btn-sm'  href='/ctc'>
							<span class='glyphicon glyphicon-plus'></span> Add
						</a>
						<button  class='btn btn-default btn-sm'>
							<span class='glyphicon glyphicon-upload'></span> Upload
						</button>
					</div>
				</div>
			</div>
				<div class='row'  style='padding-top: 5px'>
					<div class='col-sm-12'>
						<table class='table table-bordered table-condensed table-bordered'>
							<thead>
								<tr>
									<th >Employee</th>
									<th>From date</th>
									<th>To date</th>
									<th>CTC per month</th>
									<th>CTC per annum</th>
									<th>Unit name</th>
									<th>Status</th>
									<th ></th>
								</tr>
							</thead>
							<tbody>
								<tr dir-paginate='x in payroll_ctcList| filter: search| itemsPerPage: 12'>
									<td><a  href='/ctc/{{x.sysid}}' ng-model='payroll_ctc.complete_name'> {{x.complete_name}}</a></td>
									<td>{{x.from_date}}</td>
									<td>{{x.to_date}}</td>
									<td>{{x.ctc_per_month}}</td>
									<td>{{x.ctc_per_annum}}</td>
									<td>{{x.company_name}}</td>
									<td>{{x.status}}</td>
									<td><a  style='color: red'  href='#'><span class='glyphicon glyphicon-trash'></span> Delete</a></td>
								</tr>
							</tbody>
						</table>
						<dir-pagination-controls max-size='10' direction-links='true' boundray-links='true'>
						</dir-pagination-controls>
					</div>
				</div>
		</div>
		</div>
	</div>
</form>