<form role='form'>
				<script type='text/javascript'>
					$(function () {
						$('#dt1').datetimepicker({format: 'YYYY-MM-DD'});
					});
					$('#clear').click(function(){
						$('#dt1').data('DateTimePicker').clear();
					});
				</script>
	<div class='container-fluid'  style='padding: 0px;'>
		<div class='row'>
			<div class='col-sm-2'  style='background-color: #edd440'>
				<div class='row'>
					<span class='header1 col-sm-12'  style='padding-top: 5px' class='col-sm-12'>Stores management</span>
				</div>
			</div>
			<div class='col-sm-10'>
				<div class='row'>
					<div class='col-sm-2'  style='border-right: 1px solid lightgray; border-bottom: 3px solid #C70039; padding-top: 10px; padding-bottom: 8px; text-align: center'>
						<div class='col-sm-12'>
							<a  class='header2'  style='color: #000000;'  href='#'>
								 Raw material
							</a>
						</div>
					</div>
					<div class='col-sm-2'  style='border-right: 1px solid lightgray; padding-top: 10px; padding-bottom: 8px; text-align: center'>
						<div class='col-sm-12'>
							<a  class='header2'  style='color: #000000;'  href='/op_bal_fg'>
								 Finished goods
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class='row'  style='background-color: #ffffff; min-height: 600px;'>
			<div class='col-sm-2'>
				<div ng-controller='stores_menuCtrl' ng-include src="'modules/inv/stores_menu/stores_menu.html'"></div>
			</div>
		<div class='col-sm-10'>
			<div class='row'  style='padding-top: 10px'>
				<span class='header1 col-sm-2'  style='color: #C70039;' class='col-sm-2'>Opening balance (Raw)</span>
				<div class='col-sm-3'>
					<div class='input-group'>
						<input type='text' class='form-control' placeholder='Enter search text' ng-model='search'>
						<div class='input-group-btn'>
							<button class='btn btn-success btn-sm searchBox' type='submit'>
								<i class='glyphicon glyphicon-search'></i>
							</button>
						</div>
					</div>
				</div>
				<span class='header2 col-sm-4' class='col-sm-4'>{{inv_op_bal_raw_status}}</span>
				<div class='col-sm-3'>
					<div class='btn-group'>
						<a  class='btn btn-default btn-sm'  href='#'  ng-click='insert_inv_op_bal_raw_record()' data-target='#opDlg' data-toggle='modal'>
							<span class='glyphicon glyphicon-plus'></span> Add
						</a>
						<button  class='btn btn-default btn-sm'>
							<span class='glyphicon glyphicon-upload'></span> Upload
						</button>
						<button  class='btn btn-default btn-sm'>
							<span class='glyphicon glyphicon-download'></span> Download
						</button>
					</div>
				</div>
					<div class='col-sm-12'>
						<table class='table table-bordered table-condensed table-bordered'>
							<thead>
								<tr>
									<th>Item name</th>
									<th>Transaction #</th>
									<th>Short code</th>
									<th>Item qty</th>
									<th>Item wt</th>
									<th>Stock date</th>
								</tr>
							</thead>
							<tbody>
								<tr dir-paginate='x in inv_op_bal_rawList| itemsPerPage: 12'>
									<td>{{x.item_name}}</td>
									<td>{{x.sysid}}</td>
									<td>{{x.short_code}}</td>
									<td>{{x.item_qty}}</td>
									<td>{{x.item_wt}}</td>
									<td>{{x.op_bal_date}}</td>
								</tr>
							</tbody>
						</table>
						<dir-pagination-controls max-size='10' direction-links='true' boundray-links='true'>
						</dir-pagination-controls>
					</div>
			</div>
		</div>
		</div>
	<div class='modal fade'  id='opDlg' role='dialog'>
		<div class='modal-dialog' style=''>
			<div class='modal-content'>
				<div class='modal-header'>
					<div class='row'>
						<span class='header1 col-sm-12' class='col-sm-12'>Opening balance (Raw)</span>
					</div>
				</div>
				<div class='modal-body'>
					<div class='row'>
						<label class='col-sm-3'>Item name</label>
						<div class='col-sm-9'>
							<select class='form-control'  ng-change='clearStatus()' ng-model='inv_op_bal_raw.item_id' ng-init='inv_op_bal_raw.item_id=inv_item_master[0].sysid' ng-options='x.sysid as x.item_name for x in inv_item_masterList'></select>
						</div>
						<label class='col-sm-3'>Short code</label>
						<div class='col-sm-9'>
							<input class='form-control'  type='text'  readonly='true' ng-model='inv_op_bal_raw.short_code'>
						</div>
						<label class='col-sm-3'>Item qty</label>
						<div class='col-sm-9'>
							<input class='form-control'  type='text' ng-model='inv_op_bal_raw.item_qty'>
						</div>
						<label class='col-sm-3'>Item wt</label>
						<div class='col-sm-9'>
							<input class='form-control'  type='text' ng-model='inv_op_bal_raw.item_wt'>
						</div>
						<label class='col-sm-3'>Stock date</label>
						<div class='col-sm-9'>
							<div datetimepicker class='input-group date'  id='dt1' ng-model='inv_op_bal_raw.op_bal_date'>
								<input type='text' class='form-control datepicker' placeholder='YYYY-MM-DD'>
								<span class='input-group-addon'>
									<span class='glyphicon glyphicon-calendar'></span>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class='footer'>
					<div class='row'  style='padding: 10px;'>
						<span class='header2 col-sm-8' class='col-sm-8'>{{inv_op_bal_raw_status}}</span>
						<div class='col-sm-4' style='text-align: right'>
							<div class='btn-group'>
								<button  class='btn btn-default btn-sm'  ng-click='save_inv_op_bal_raw_record()'>
									<span class='glyphicon glyphicon-saved'></span> Save
								</button>
								<button  class='btn btn-default btn-sm' data-dismiss='modal'>
									<span class='glyphicon glyphicon-remove'></span> Close
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</form>