<form role='form'>
	<div class='container-fluid'>
		<div class='row'  style='background-color: #ffffff; padding: 0px;'>
			<div class='col-sm-2'>
				<div class='row'  style='padding: 0px;'>
					<div ng-controller='bank_menuCtrl' ng-include src="'modules/payroll/bank_menu/bank_menu.html'"></div>
				</div>
			</div>
		<div class='col-sm-10'>
			<div class='row'  style='padding-top: 20px'>
				<span class='header-title col-sm-2' class='col-sm-2'>Payment channel</span>
				<div class='col-sm-3'>
					<div class='input-group'>
						<input type='text' class='form-control' placeholder='Enter search text' ng-model='search'>
						<div class='input-group-btn'>
							<button class='btn btn-success btn-sm searchBox' type='submit'>
								<i class='glyphicon glyphicon-search'></i>
							</button>
						</div>
					</div>
				</div>
				<span class='header2 col-sm-4' class='col-sm-4'>{{payroll_banks_status}}</span>
			</div>
			<div class='row'>
				<div class='col-sm-12'>
					<table class='table table-bordered table-condensed table-bordered'>
						<thead>
							<tr>
								<th>Employee</th>
								<th>Account type</th>
								<th>Bank name</th>
								<th>IFSC code</th>
								<th>Account no</th>
								<th>Corporate bank</th>
								<th >Header</th>
							</tr>
						</thead>
						<tbody>
							<tr dir-paginate='x in payroll_banksList| filter: search| itemsPerPage: 12'>
								<td>{{x.complete_name}}</td>
								<td>{{x.acc_type}}</td>
								<td>{{x.bank_name}}</td>
								<td>{{x.ifsc_code}}</td>
								<td>{{x.acc_no}}</td>
								<td>{{x.pay_bank_detail}}</td>
								<td><a  href='#'  ng-click='update_payroll_banks_record(x)' data-target='#payDlg' data-toggle='modal'><span class='glyphicon glyphicon-saved'></span> Attach bank</a></td>
							</tr>
						</tbody>
					</table>
					<dir-pagination-controls max-size='10' direction-links='true' boundray-links='true'>
					</dir-pagination-controls>
				</div>
			</div>
		</div>
		</div>
<div class='modal fade'  id='payDlg' role='dialog'>
	<div class='modal-dialog' style='height: 700px; ; width: 700px; '>
		<div class='modal-content'>
			<div class='modal-header'>
				<div class='row'>
					<span class='header1 col-sm-12' class='col-sm-12'>Attach corporate bank</span>
				</div>
			</div>
			<div class='modal-body'>
				<div class='row'>
					<label class='col-sm-3'>Corporate bank</label>
					<div class='col-sm-9'>
						<select class='form-control'  ng-change='update_pay_id(x)' ng-model='payroll_banks.pay_bank_id' ng-init='payroll_banks.pay_bank_id=corp_bank[0].sysid' ng-options='x.sysid as x.bank_name for x in corp_bankList'></select>
					</div>
				</div>
			</div>
			<div class='footer'>
				<div class='row'  style='padding: 10px;'>
					<span class='header2 col-sm-9' class='col-sm-9'>{{payroll_banks_status}}</span>
					<div class='col-sm-3' style='text-align: right'>
						<div class='btn-group'>
							<button  class='btn btn-default btn-sm'  ng-click='save_payroll_banks_record()'>
								<span class='glyphicon glyphicon-saved'></span> Save
							</button>
							<button  class='btn btn-default btn-sm' data-dismiss='modal'>
								<span class='glyphicon glyphicon-remove'></span> Close
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	</div>
</form>